.header_menu{
    background-color: black;
    height: 100px;
    padding: 10px;
    text-align: center;
}
.menu {
    list-style-type: none;
    display: inline;
    text-align: center;
    vertical-align: middle;
}

.menu_button {
    list-style-type: none;
    display: inline;
    text-align: center;
    background-color: white;
    font-size: 75px;
    vertical-align: middle;
    margin: auto;
}
