#nav-placeholder {
    color: white;
}
.header_menu{
    background-color: black;
    height: 50%;
    padding: 1%;
    text-align: center;
}
.menu {
    list-style-type: none;
    display: inline;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
}

.menu_button {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 450%;
    vertical-align: middle;
    margin: auto;
    color: white;
}

.menu_links {
    color: white;
    text-decoration: none;
}

a:link { text-decoration: none; color: white;}

a:visited { text-decoration: none; color: white;}

a:hover { text-decoration: none; color: white;}

a:active { text-decoration: none; color: gray;}