.header_menu{
    background-color: blue;
    height: 100px;
    padding: 10px;
    text-align: center;
}
.menu {
    list-style-type: none;
    display: inline;
    text-align: center;
    vertical-align: middle;
}

.button {
    list-style-type: none;
    display: inline;
    text-align: center;
    background-color: white;
    font-size: 75px;
    vertical-align: middle;
    margin: auto;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 250%;
}
article{
    text-align: justify;
    padding: 5%;
    text-decoration-line: none;
    line-break: strict;
    text-indent: 4%;
    
}
p {
    line-height: 150%;
    font-size: 150%;
    margin-bottom: 1%;
    margin-top: 0%;
}

