@media (min-width: 900px) {
#txt {
    background-color: white;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
h1 {
    text-align: center;
    font-size: 230%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 170%;
}
h4 {
    font-size: 150%;
    margin: 3%;
}
p {
    text-indent: 5%;
    font-size: 160%;
}
img {
    display: block;
    max-width: 10%;
    max-height: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 899px) {
    #txt {
        background-color: white;
        text-align: justify;
        font-family: 'Courier New', Courier, monospace;
        margin: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    h1 {
        text-align: center;
        font-size: 210%;
    }
    h2 {
        font-size: 180%;
    }
    h3 {
        font-size: 150%;
    }
    h4 {
        font-size: 130%;
        margin: 3%;
    }
    p {
        text-indent: 5%;
        font-size: 140%;
    }
    }
@media (max-width: 400px) {
    #txt {
        background-color: white;
        text-align: justify;
        font-family: 'Courier New', Courier, monospace;
        margin: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    h1 {
        text-align: center;
        font-size: 180%;
    }
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 120%;
    }
    h4 {
        font-size: 100%;
        margin: 3%;
    }
    p {
        text-indent: 5%;
        font-size: 110%;
    }
    }
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
      }
